/* body {
    background-color: rgb(233, 124, 0);
} */

 #tableElement {
  margin-left: 4in;
  font-size: 14pt;
} 

div {
    position: absolute;
    top: 0%;
}

fieldset {
    margin-left: 3in;
    margin-right: 3in;
}

section {
position: absolute;
top:2in;
}

p {
    position: absolute;
    top:2.1in;
    display: inline-block;
}

body { 
    color: rgb(14, 12, 12);
    background-color: rgb(199, 183, 147); 
    }

    img {
        position: absolute;
        left: 3.5in;
        top: 3.5in;
        
    }

h1 {
    margin-left: 5.5in;
}

A {
    position: absolute;
    right: 0in;
    top: 0in;
}