/* body {
    background-color: rgb(233, 124, 0);
} */

 #tableElement {
  margin-left: 3in;
  font-size: 14pt;
} 

div {
    position: absolute;
    top: 0%;
}

fieldset {
    margin-left: 2.5in;
    margin-right: 2in;
}

section {
position: absolute;
top:2in;
}


p {
     position: absolute; 
   margin-top: 1in;
   font-family: Arial, Helvetica, sans-serif;
}


body { 
    color: rgb(14, 12, 12);
    background-color: rgb(199, 183, 147); 
    }

    img {
        position: absolute;
        left: 3.5in;
        top: 3.5in;
        
    }

h1 {
    margin-left: 5.5in;
    font-family: Arial, Helvetica, sans-serif;
}

A {
    position: absolute;
    right: 0in;
    top: 0in;
}

li {
    position: relative;
    top: 1.3in;
    font-family: helvetica;
}

table {
    position: absolute;
    top: 3.2in;
}